* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fondo-img {
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 1.5s ease-in-out; /* Transición suave */
  }
  
  .fondo-img.show {
    opacity: 1; /* Se hace visible cuando se agrega la clase "show" */
  }
  

.cormorant-garamond-regular {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
  }

audio{
    display:none;
}

.btn-flotante {
    position: fixed;
    bottom: 20px; /* A 20px del borde inferior */
    right: 20px;  /* A 20px del borde derecho */
    background-color: #a7698a; /* Color de fondo verde */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    padding: 15px; /* Espacio interior */
    border-radius: 50%; /* Hacer el botón redondo */
    font-size: 20px; /* Tamaño del texto */
    cursor: pointer; /* Cambiar cursor a mano al pasar sobre el botón */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Sombra leve */
    z-index: 1000; /* Asegurar que el botón esté siempre visible */
    transition: background-color 0.3s ease; /* Animación suave en hover */
}

/* Cambiar el color de fondo al hacer hover */
.btn-flotante:hover {
    background-color: #45a049; /* Cambiar a un tono más oscuro de verde */
}


body {
    max-width: 500px;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
    background-color: #E2D8D0;
}

.intro {
    height: 100vh; /* Ocupa toda la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
}

.frase {
    text-align: center;
    padding: 20px;
    font-family: 'Tangerine', cursive; /* Aplicar la fuente */
    font-size: 55px; /* Ajustar el tamaño de la fuente */
    transform: scale(2.2); /* Escalar la fuente al tamaño deseado */
    letter-spacing: .7px;
    font-weight: 700; /* Aplicar negritas */
}


.word {
    opacity: 0;
    display: inline-block;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.contenido {
    padding: 20px;
    text-align: center;
    position: relative;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
}

.fondo-img {
    width: 100%; /* Ajustar al ancho del contenedor */
    margin-top: 20px; /* Espacio entre la frase y la imagen */
    height: auto; /* Mantener proporción de la imagen */
}

.padres {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 15.5%; 
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black; 
    font-size: 22px;
    padding: 1px;
    
}

@media (max-width: 500px) {
    .padres{
        font-size: 20px; /* Reducir el tamaño de la fuente para móviles **************************************************/
        top: 15%;
    }
}

.padres-color{
    color: #558159; 
    font-weight: 800;
}

.fecha {
    font-family: "Cormorant Garamond", serif;
    position: absolute;
    top: 22.4%; /* Ajusta la posición del bloque de fecha según lo necesites */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    font-size: 24px;
    padding: 10px;
}

@media (max-width: 500px) {
    .fecha{
        font-size: 20.5px; /* Reducir el tamaño de la fuente para móviles *********************************************************/
        top: 21%;
    }
}

.calendar{
    padding: 10px;
    width: 30%;
}


/* Estilo inicial con opacidad 0 para que el elemento esté invisible */
.fade-in {
    opacity: 0;
    transform: translate(-50%, 50px); /* Comienza centrado horizontalmente, pero 50px abajo */
    transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Clase que se activará cuando el elemento sea visible */
.fade-in.visible {
    opacity: 1;
    transform: translate(-50%, 0); /* Se mueve a su posición original */
}

.fecha-color{
        color: #558159;     
}

.fecha-texto{
    font-weight: 300;
}


.ubicacion {
    font-family: "Cormorant Garamond", serif;
    position: absolute;
    top: 33%; /* Ajusta según la disposición en tu diseño */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 22px;
    color: black;
    padding: 10px;
}

/* Ajustes específicos para móviles */
@media (max-width: 500px) {
    .ubicacion{
        font-size: 20px; /* Reducir el tamaño de la fuente para móviles *************************************************/
        top: 33.5%;
    }
}

.ubicacion-color{
    color: #558159;  
    font-weight: 700;
    font-size: 27px;
}






.bloque-dresscode {
    font-family: "Cormorant Garamond", serif;
    position: absolute; /* Permite que el bloque se posicione sobre otros elementos */
    top: 42.5%; /* Ajusta la posición vertical */
    left: 50%; /* Ajusta la posición horizontal */
    transform: translate(-50%, -50%); /* Centra el bloque en la mitad */
    padding: 20px; /* Espacio alrededor del bloque */
    background-color: transparent;
    z-index: 1; /* Asegura que el bloque esté por encima de la imagen de fondo */
}

@media (max-width: 500px) {
    .bloque-dresscode{
        font-size: 20px; /* Reducir el tamaño de la fuente para móviles *****************************************/
        top: 42.8%;
    }
}

.imagenes {
    display: flex;
    justify-content: center; /* Centra las imágenes en su contenedor */
    gap: 20px; /* Espacio entre imágenes */
    margin: 0 auto; /* Asegura que el contenedor de imágenes esté centrado */
}

.dress-img {
    width: 100px;
    max-width: 200px; /* Ancho máximo de imágenes */
    margin: 5px; /* Espacio alrededor de las imágenes */
}

.texto-dresscode h2 {
    color: #558159; 
    font-size: 27px;
    margin-top: 20px; /* Margen superior para separar del bloque de imágenes */
}

.texto-dresscode p {
    font-size: 20px;
    margin-bottom: 5px;
}

.texto-dresscode p strong {
    font-size: 15px;
    color: rgb(44, 80, 61); /* Color para el texto destacado */
}







.btn-ubicacion{
    font-family: "Cormorant Garamond", serif;
    background:linear-gradient(45deg, #5e9a63a3,#205d25a3);
    color:#e0e0e0;
    border:none;
    position:relative;
    height:60px;
    font-size:20px;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); 
  }
  .btn-ubicacion:hover{
    background:#5c8065;
    color:#ffffffa3;
  }
  .btn-ubicacion:before,.btn-ubicacion:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #134819;
    transition:400ms ease all;
  }
  .btn-ubicacion:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-ubicacion:hover:before,.btn-ubicacion:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  

  /* Asegura que la imagen de fondo esté bien configurada */


/* Bloque de regalos centrado y encima de la imagen */
.bloque-regalos {
    font-family: "Cormorant Garamond", serif;
    position: absolute; /* Se coloca de manera absoluta dentro de su contenedor */
    top: 49.2%; /* Ajusta la distancia desde la parte superior de la página */
    left: 50%;
    transform: translate(-50%, 0); /* Mantiene el bloque centrado horizontalmente */
    padding: 20px;
    width: 80%;
    background-color: transparent;
    z-index: 2; /* Por encima de la imagen */
}
@media (max-width: 500px) {
    .bloque-regalos{
        font-size: 18px; /* Reducir el tamaño de la fuente para móviles *****************************************/
        top: 49.5%;
    }
}

.texto-regalos h2 {
    color: #558159; 
    font-size: 27px;
    margin-top: 10px;
}

.texto-regalos p {
    font-size: 19px;
    margin-bottom: 10px;
}

.btn-mesaregalos {
    font-family: "Cormorant Garamond", serif;
    background:linear-gradient(45deg, #5e9a63a3,#205d25a3);
    color: #e0e0e0;
    border: none;
    position: relative;
    height: 60px;
    font-size: 20px;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); 
}

@media (max-width: 500px) {
    .btn-mesaregalos{
        height: 50px;
    }
}

.btn-mesaregalos:hover {
    background: #5c8065;
    color: #ffffffa3;
}

.btn-mesaregalos:before,
.btn-mesaregalos:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #134819;
    transition: 400ms ease all;
}

.btn-mesaregalos:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.btn-mesaregalos:hover:before,
.btn-mesaregalos:hover:after {
    width: 100%;
    transition: 800ms ease all;
}



.texto-solo-adultos {
    position: absolute;
    top: 58.7%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 800px; /* Aumenta el ancho máximo */
    padding: 20px 30px; /* Aumenta el padding lateral */
    background-color: transparent; /* Sin color de fondo */
    font-family: "Cormorant Garamond", serif;
    font-size: 20.5px;
    text-align: center;
    color: #000; /* Color del texto */
    border-radius: 8px;
    z-index: 2;
}

@media (max-width: 500px) {
    .texto-solo-adultos{
        font-size: 18px; /* Reducir el tamaño de la fuente para móviles *****************************************/
        top: 59.4%;
    }
}

.texto-solo-adultos strong {
    max-width: 800px;
    font-size: 21px;
    color: #447451; /* Color rojo para destacar la parte importante */
}




.imagen-itinerario {
    position: absolute; /* Para colocarla sobre la imagen de fondo */
    top: 65.6%; /* Ajusta esta posición según sea necesario */
    left: 50%;
    transform: translateX(-50%);
    max-width: 80%; /* Ajusta el ancho máximo de la imagen */
    z-index: 2; /* Asegúrate de que esté por encima de otros elementos */
}

.imagen-itinerario img {
    width: 189px;
    height: auto;
    border-radius: 8px; /* Si deseas esquinas redondeadas */
}

@media (max-width: 500px) {
    .imagen-itinerario{
        
        font-size: 19px; /* Reducir el tamaño de la fuente para móviles ********************************************/
        top: 67%;
    }
}


.itinerario {
    position: absolute;
    top: 69.38%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 800px;
    margin-top: 30px; /* Reducido para menos espacio en la parte superior */
    padding: 15px; /* Reducido para acercar más los elementos */
    box-sizing: border-box;
    z-index: 2;
}

@media (max-width: 500px) {
    .itinerario {
        font-size: 19px; /* Reducir el tamaño de la fuente para móviles */
        top: 69.85%;
    }
}

.itinerario::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    background-color: rgb(74, 128, 81); /* Línea en el centro */
    z-index: 1;
}

.evento {
    position: relative;
    width: 50%;
    padding: 10px; /* Reducido para menos espacio entre elementos */
    box-sizing: border-box;
    text-align: center; /* Centra la imagen, hora y texto */
}

.evento.izquierda {
    left: 0;
}

.evento.derecha {
    left: 50%;
}

.evento img {
    width: 80px; /* Ajusta el tamaño de las imágenes */
    padding: 8px;
    height: 82px;
}

.evento .hora {
    font-size: 20px;
    color: #134819;
    font-weight: bold;
    margin-top: 7px; /* Reducido para menos espacio entre la hora y la imagen */
}

.evento .descripcion {
    font-size: 23px;
    color: #000000;
    margin-top: 3px; /* Reducido para menos espacio entre la descripción y la hora */
    font-family: "Cormorant Garamond", serif;
}

.evento::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background-color: rgb(42, 115, 60); /* Círculo */
    border-radius: 50%;
    z-index: 2;
}

.evento.izquierda::before {
    right: 12px;
}

.evento.derecha::before {
    left: 12px;
}



.confirmacion-asistencia {
    position: absolute;
    top: 92%; /* Ajusta este valor según necesites */
    left: 50%;
    width: 95%;
    transform: translateX(-50%);
    max-width: 600px; /* Ajusta el ancho del bloque */
    padding: 20px 30px; /* Espaciado interno */
    background-color: transparent; /* Sin fondo */
    font-family: "Cormorant Garamond", serif;
    font-size: 30px;
    text-align: center;
    color: #000; /* Color del texto */
    z-index: 2; /* Asegura que esté sobre la imagen de fondo */
}

@media (max-width: 500px) {
    .confirmacion-asistencia {
        font-size: 18px; /* Ajuste de tamaño de texto para móviles */
        top: 93%; /* Ajusta la posición para pantallas pequeñas */
    }
}

.letra-conf{
    font-size: 22px;
}


.btn-confirm {
    font-family: "Cormorant Garamond", serif;
    background: linear-gradient(45deg, #5e9a63a3, #205d25a3);
    color: #e0e0e0;
    border: none;
    position: absolute; /* Cambiado a 'absolute' */
    top: 95%; /* Ajusta esta propiedad para moverlo verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%); /* Ajusta para centrar completamente */
    height: 60px;
    font-size: 20px;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    z-index: 2; /* Asegura que esté encima de la imagen de fondo */
}

@media (max-width: 500px) {
    .btn-confirm {
        height: 50px;
        font-size: 18px;
    }
}

.btn-confirm:hover {
    background: #5c8065;
    color: #ffffffa3;
}

.btn-confirm:before,
.btn-confirm:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #134819;
    transition: 400ms ease all;
}

.btn-confirm:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.btn-confirm:hover:before,
.btn-confirm:hover:after {
    width: 100%;
    transition: 800ms ease all;
}
