* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cormorant-garamond-regular {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
  }

body {
    max-width: 500px;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
    background-color: #E2D8D0;
}

.intro {
    height: 100vh; /* Ocupa toda la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
}

.frase {
    text-align: center;
    padding: 20px;
    font-family: 'Tangerine', cursive; /* Aplicar la fuente */
    font-size: 55px; /* Ajustar el tamaño de la fuente */
    transform: scale(2.2); /* Escalar la fuente al tamaño deseado */
    letter-spacing: .7px;
    font-weight: 700; /* Aplicar negritas */
}


.word {
    opacity: 0;
    display: inline-block;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.contenido {
    padding: 20px;
    text-align: center;
    position: relative;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
}

.fondo-img {
    width: 100%; /* Ajustar al ancho del contenedor */
    margin-top: 20px; /* Espacio entre la frase y la imagen */
    height: auto; /* Mantener proporción de la imagen */
}

.padres {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 32%; 
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black; 
    font-size: 22px;
    padding: 1px;
    
}

@media (max-width: 500px) {
    .padres {
        font-size: 18px; /* Reducir el tamaño de la fuente para móviles */
    }
}

.padres-color{
    color: #558159; 
    font-weight: 800;
}

.fecha {
    font-family: "Cormorant Garamond", serif;
    position: absolute;
    top: 43%; /* Ajusta la posición del bloque de fecha según lo necesites */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    font-size: 24px;
    padding: 10px;
}

.calendar{
    padding: 10px;
    width: 30%;
}


/* Estilo inicial con opacidad 0 para que el elemento esté invisible */
.fade-in {
    opacity: 0;
    transform: translate(-50%, 50px); /* Comienza centrado horizontalmente, pero 50px abajo */
    transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Clase que se activará cuando el elemento sea visible */
.fade-in.visible {
    opacity: 1;
    transform: translate(-50%, 0); /* Se mueve a su posición original */
}

.fecha-color{
        color: #558159;     
}

.fecha-texto{
    font-weight: 300;
}


.ubicacion {
    font-family: "Cormorant Garamond", serif;
    position: absolute;
    top: 69%; /* Ajusta según la disposición en tu diseño */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 22px;
    color: black;
    padding: 10px;
}

/* Ajustes específicos para móviles */
@media (max-width: 600px) {
    .ubicacion {
        font-size: 18px; /* Ajusta el tamaño de la fuente en móviles */
        top: 64%; /* Ajusta la posición para móviles si es necesario */
        width: 90%; /* Asegura que el texto ocupe más espacio horizontal en móviles */
    }
}

.ubicacion-color{
    color: #558159;  
    font-weight: 700;
}





button{
    font-family: "Cormorant Garamond", serif;
    background:#4f8453a3;
    color:#e0e0e0;
    border:none;
    position:relative;
    height:60px;
    font-size:20px;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    border-radius: 5px;
  }
  button:hover{
    background:#5c8065;
    color:#ffffffa3;
  }
  button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #134819;
    transition:400ms ease all;
  }
  button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  




